h2{
    font-family: 'Comic sans', 'Courier New', 'Courier New', Courier, monospace */
}
.darkcolor{
    background-color: rgb(0, 0, 0) !important;
}
h5{
    color: rgb(4, 48, 4);
}
.text-primary{
    color: rgb(11, 77, 11) !important
}
/* .subheadingmb-5{
    color: rgb(11, 77, 11) !important
} */